.dashicons-small::before {
  font-size: 1rem !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: inherit !important;
}

.toplevel_page_cf7db .wp-menu-image img {
  width: 18px;
  margin: 2px 0;
  padding: 6px !important;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.toplevel_page_cf7db:hover .wp-menu-image img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.toplevel_page_cf7db.current .wp-menu-image img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1 !important;
}


.wpdberror {
	text-align: left;
	direction: ltr;
	padding: 1rem;
	max-width: 90%;
	float: left;
	border: 1px gray solid;
}
